* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
    padding: 80px 20px 0;
    background-color: #add8e6; /* Fondo celeste */
}

header { 
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 50px; 
    background-color: palegreen; 
}

aside {
    position: fixed; 
    top: 50px; /* Ajuste de posición */
    left: 0; 
    width: 100%; 
    height: 50px; 
}

section {
    overflow:scroll; /* Cambiado a 'auto' para mostrar la barra de desplazamiento solo cuando sea necesario */
    position: fixed; /* Cambiado a 'relative' para que el contenido fluya correctamente */
    top: 300px; /* Ajuste de posición */
    left: 20%;
    bottom: 20px;
    width: 60%; /* Cambiado a 60% para dejar espacio a ambos lados */
    margin-right: 20%; /* Añadido margen a la derecha */
}
